html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    margin: 0;
}

header{
    background-color: #A5CB52;
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    font-size: 140%;
    font-family: "Twinkle Star", cursive;
    font-weight: 400;
    font-style: normal;
}

.under-header{
    display: flex;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
    min-height: calc(100vh - 80px);
}

nav{
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #FF85AD;
    align-content: end;
    width: 140px;
}

ul.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}



li {
    list-style-type: none;

}
a {
    text-decoration: none;}

.contact {
    color: black;
}

a.nav-link:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lawngreen;
}

a:active {
    color: #E75480;
}

main{
    background-color: #FEF086;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4%;
    flex: 1;
}

.pics-of-art {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10%;
}



main > footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
}


@media screen and (max-width: 500px) {
    .under-header {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        height: 20vh;
}

}

}
@media screen and (max-width: 580px) {

    img {
        width: 90%;
    }
}